@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth;
  }
}

.navlink:after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(227, 168, 142);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navlink:hover:after {
  transform: scaleX(1);
}

.about_me {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  position: relative;
  z-index: 1;
}

.particles-wrapper {
  width: 100vh;
  height: 100vh;
  z-index: 0;
  position: absolute;
}

.floating { 
  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  100%   { transform: translate(0, -0px); }   
}