@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  html{ 
    @apply scroll-smooth;
  }
}

.navlink:after{
  display: block;
  content: "";
  border-bottom: solid 3px rgb(28, 11, 4);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navlink:hover:after {
  transform: scaleX(1);
}